<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.w3.org/1999/xhtml" 
    layout:decorate="~{layout}">
<body>
    <div class="container" layout:fragment="corpo">
        <h2>Equipamentos recebidos</h2>
        
        <div class="col-md-12">
            <table class="table table-striped" th:if="${!recebimentos.isEmpty()}">
                <div th:replace="~{fragments/alerta}"></div>

                <thead>
                    <tr>
                        <th scope="col">Equipamento</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Data Rec</th>
                        <th scope="col">Status</th>
                        <th id="opt"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rec : ${recebimentos}">
                        <td th:text="${rec.equipamento.descricao}"></td>
                        <td th:text="${rec.equipamento.marca}"></td>
                        <td th:text="${rec.equipamento.modelo}"></td>
                        <td th:text="${rec.cliente.nome}"></td>
                        <td th:text="${#temporals.format(rec.dataRecebimento, 'dd/MM/yyyy')}"></td>
                        <td th:text="${rec.status.getDescricao}"></td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm"
                                th:if="${(rec.status == T(com.upload.domain.model.enums.Status).RECEBE_EQUIPAMENTO)}"
                                th:href="@{/operacao/ordem-servico/{id} (id=${rec.id})}">Criar OS
                            </a>
                            <a class="btn btn-outline-primary btn-sm"
                                th:if="${(rec.status == T(com.upload.domain.model.enums.Status).ABRE_ORDEM_SERVICO)}"
                                th:href="@{/atendimento/ordem-servico/{numeroOs}(numeroOs=${rec.ordemServico.numeroOs})}">
                                Atender OS
                            </a>
                            <button type="button" class="btn btn-outline-warning btn-sm" 
                                data-bs-toggle="modal" data-bs-target="#rec-detalhes"
                                th:attr="data-id=${rec.id},
                                data-cliente=${rec.cliente.nome},
                                data-email=${rec.cliente.email},
                                data-tel=${rec.cliente.telefone},
                                data-cidade=${rec.cliente.endereco.cidade},
                                data-uf=${rec.cliente.endereco.uf},
                                data-equipamento=${rec.equipamento.descricao},
                                data-dtRec=${#temporals.format(rec.dataRecebimento, 'dd/MM/yyyy')},
                                data-marca=${rec.equipamento.marca},
                                data-modelo=${rec.equipamento.modelo},
                                data-serie=${rec.equipamento.numSerie},
                                data-obs=${rec.observacao}">Detalhes
                            </button>
                            <!--<a class="btn btn-outline-danger btn-sm"
                                th:href="@{/operacao/cancelar/{id} (id=${rec.id})}">Cancelar Atendimento
                            </a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <span th:if="${recebimentos.isEmpty()}">
                <h5>Nenhum registro</h5>
            </span>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="rec-detalhes" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Detalhes</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Cliente</th>
                                <td><span id="clienteModal"></span></td>
                            </tr>
                            <tr>
                                <th>E-mail</th>
                                <td><span id="emailModal"></span></td>
                            </tr>
                            <tr>
                                <th>Telefone</th>
                                <td><span id="telModal"></span></td>
                            </tr>
                            <tr>
                                <th>Cidade</th>
                                <td><span id="cidadeModal"></span></td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td><span id="ufModal"></span></td>
                            </tr>
                            <tr>
                                <th>Equipamento</th>
                                <td><span id="equipamentoModal"></span></td>
                            </tr>
                            <tr>
                                <th>Marca</th>
                                <td><span id="marcaModal"></span></td>
                            </tr>
                            <tr>
                                <th>Modelo</th>
                                <td><span id="modeloModal"></span></td>
                            </tr>
                            <tr>
                                <th>Núm. Série</th>
                                <td><span id="serieModal"></span></td>
                            </tr>
                            <tr>
                                <th>Obs.</th>
                                <td><span id="obsModal"></span></td>
                            </tr>
                            <tr>
                                <th>Data do rec.</th>
                                <td><span id="dtRecModal"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>