<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
  <footer th:fragment="rodape">
    <div class="row">
      <p>&copy; Direitos Reservados - 2024</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
      crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/estoque.js}"></script>
    <script th:src="@{/js/operacoes.js}"></script>
    <script th:src="@{/js/pesquisa-cep.js}"></script>
  </footer>
</body>
</html>