<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<body>
    <div class="container" layout:fragment="corpo">
        <h2>Estoque</h2>
        
        <div th:replace="~{fragments/alerta}"></div>

        <form th:object="${produto}" method="POST" enctype="multipart/form-data">

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Produto</label>
                    <input type="text" class="form-control" placeholder="Nome do produto..."
                        th:field="*{nome}"
                        th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{nome}"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Código</label>
                    <input type="text" class="form-control" placeholder="Código do produto..."
                        th:field="*{codigo}" th:readonly="${id != null}"
                        th:classappend="${#fields.hasErrors('codigo')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{codigo}"></span>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Preço</label>
                    <input type="text" class="form-control" placeholder="Preço de custo..."
                        th:field="*{preco}"
                        th:classappend="${#fields.hasErrors('preco')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{preco}"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Descrição</label>
                    <input type="text" class="form-control" placeholder="Descrição do produto..."
                        th:field="*{descricao}"
                        th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{descricao}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Imagem do produto</label>
                    <input type="file" name="imagem" class="form-control" 
                        th:classappend="${#fields.hasErrors('foto')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{foto}"></span>
                    </div>
                </div>
            </div>

            <!-- mostrar apenas quando editar -->
            <div class="row" th:if="${id != null}">
                <div class="form-group col-md-6">
                    <label>Ativo</label>
                    <input type="checkbox" th:field="*{ativo}" th:checked="${isChecked}" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-outline-primary">Salvar</button>
                    <a class="btn btn-outline-warning" th:href="@{/produto/listar}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>