<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<body>
    <div class="container" layout:fragment="corpo">
        <h2>Cadastro de Produto</h2>

        <form th:object="${produto}" method="POST" enctype="multipart/form-data">

            <div th:replace="~{fragments/alerta}"></div>
            
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Descrição</label>
                    <input type="text" class="form-control" placeholder="Nome do material..."
                        th:field="*{descricao}"
                        th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" />

                    <div class="invalid-feedback">
                        <span th:errors="*{descricao}"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Imagem do produto</label>
                    <input type="file" name="imagem" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-outline-primary">Salvar</button>
                    <a class="btn btn-outline-warning" th:href="@{/produto/listar}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>