<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.w3.org/1999/xhtml" 
    layout:decorate="~{layout}">
<body>
    <div class="container" layout:fragment="corpo">
        <h2>Página inicial</h2>
        
        <div class="row" style="margin-top:40px">
            <div class="col-3">
                <div class="card shadow" style="text-align:center;min-height:170px">
                    <div class="card-header">Equipamentos Recebidos</div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-center align-items-center" style="flex-grow:1">
                            <h5 class="card-title text-center"><span>Qtde. </span>[[${recebimentos}]]</h5>
                        </div>
                        <div class="mt-auto">
                            <a th:href="@{/operacao/equipamentos-recebidos}" class="btn btn-outline-primary">Ir para</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card shadow" style="text-align:center;min-height:170px">
                    <div class="card-header">OS. Abertas</div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-center align-items-center" style="flex-grow:1">
                            <h5 class="card-title text-center"><span>Qtde. </span>[[${ordensServico}]]</h5>
                        </div>
                        <div class="mt-auto">
                            <a th:href="@{/ordem-servico/listar}" class="btn btn-outline-primary">Ir para</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card shadow" style="text-align:center;min-height:170px">
                    <div class="card-header">Equipamentos Liberados</div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-center align-items-center" style="flex-grow:1">
                            <h5 class="card-title text-center"><span>Qtde. </span>[[${recebimentos}]]</h5>
                        </div>
                        <div class="mt-auto">
                            <a th:href="@{/operacao/equipamentos-recebidos}" class="btn btn-outline-primary">Ir para</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card shadow" style="text-align:center;min-height:170px">
                    <div class="card-header">Clientes Cadastrados</div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-center align-items-center" style="flex-grow:1">
                            <h5 class="card-title text-center"><span>Qtde. </span>[[${clientes}]]</h5>
                        </div>
                        <div class="mt-auto">
                            <a th:href="@{/cliente/listar}" class="btn btn-outline-primary">Ir para</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>