<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Controle de Materiais</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/style.css}'>
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
  <!-- header -->
	<div th:replace="~{fragments/header :: cabecalho}"></div>

  <!-- conteúdo principal -->
	<div layout:fragment="corpo"></div>

  <!-- footer -->
  <div th:replace="~{fragments/footer :: rodape}"></div>

</body>
</html>